<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->

    <appSettings xdt:Transform="Replace">
        <add key="awsAccessKeyId" value=""/>
        <add key="awsAccessSecret" value=""/>
        <add key="JGApiKey" value="d0032bfe"/>
        <!-- 
            SDI return url 
            this is the url we tell justgiving to redirect to after a donation
            format arguments:
            0: url authority (domain:post)
            1: confessionId
        -->
        <add key="JGSDIReturnUrlFormat" value="?exitUrl=http://{0}/Sdi/Absolve/{1}?donationid=JUSTGIVING-DONATION-ID"/>

        <!--
            SDI url
            the url we redirect to to start the donation process
            format arguments:
            0: charityId
            1: returnUrl
        -->
        <add key="JGSDIUrlFormat" value="http://www.justgiving.com/donation/direct/charity/{0}{1}"/>
        <!-- live -->
        <!--<add key="JGSDIUrlFormat" value="http://v3.staging.justgiving.com/donation/direct/charity/{0}{1}"/>-->
        <!-- staging (sandbox) -->
        <!--<add key="JGSDIUrlFormat" value="/JGFake/Index/{0}{1}"/>-->
        <!-- local testing, no donation -->

        <add key="Twitter_ConsumerKey" value="kTwwEGbZZz5xbQVxIr53uw"/>
        <add key="Twitter_ConsumerSecret" value="Pg3TJRukX7QpEUxwamu0zywzrlWEZ6Wc2ZpBVyTOz8"/>
        <add key="Twitter_Token" value="192486803-xI8rtdZxfvmFVyrE89RODL0kaHYLbaF8abxdNxaK"/>
        <add key="Twitter_TokenSecret" value="SGkNOFSSXkadWRru5CR2YiAWqxTOF11ICGxGdqRjc"/>
        <add key="TweetOutboxDirectory" value="c:\workspace\git\blesstheweb\TweetOutbox"/>
        <add key="SiteTitle" value="Indulge Me"/>
        <add key="domainName" value="indulgeme.cc"/>
        <add key="emailFromAddress" value="indulgememail@gmail.com"/>
        <add key="smtpPort" value=""/>
        <add key="smtpServer" value=""/>
        <add key="smtpUsername" value=""/>
        <add key="smtpPassword" value=""/>
    </appSettings>

    <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>