<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->

    <appSettings xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
        <add key="awsAccessKeyId" xdt:Transform="SetAttributes" xdt:Locator="Match(value)" value="1DDW85JA94AHBN3YX6G2"/>
        <add key="awsAccessSecret" xdt:Transform="SetAttributes" xdt:Locator="Match(value)" value="XrwoionOEP5Dk2sKwoTMz+NuWHanEQ9nvIOkO0jE" />
        <add key="Twitter_ConsumerKey" xdt:Transform="SetAttributes" xdt:Locator="Match(value)" value="kTwwEGbZZz5xbQVxIr53uw"/>
        <add key="Twitter_ConsumerSecret" xdt:Transform="SetAttributes" xdt:Locator="Match(value)" value="Pg3TJRukX7QpEUxwamu0zywzrlWEZ6Wc2ZpBVyTOz8"/>
        <add key="Twitter_Token" xdt:Transform="SetAttributes" xdt:Locator="Match(value)" value="192486803-xI8rtdZxfvmFVyrE89RODL0kaHYLbaF8abxdNxaK"/>
        <add key="Twitter_TokenSecret" xdt:Transform="SetAttributes" xdt:Locator="Match(value)" value="SGkNOFSSXkadWRru5CR2YiAWqxTOF11ICGxGdqRjc"/>
        <add key="TweetOutboxDirectory" xdt:Transform="SetAttributes" xdt:Locator="Match(value)" value="c:\workspace\git\blesstheweb\TweetOutbox"/>
        <add key="SiteTitle" xdt:Transform="SetAttributes" xdt:Locator="Match(value)" value="Indulge Me"/>
        <add key="domainName" xdt:Transform="SetAttributes" xdt:Locator="Match(value)" value="indulgeme.cc"/>
        <add key="emailFromAddress" xdt:Transform="SetAttributes" xdt:Locator="Match(value)" value="indulgememail@gmail.com"/>
        <add key="smtpPort" xdt:Transform="SetAttributes" xdt:Locator="Match(value)" value="587"/>
        <add key="smtpServer" xdt:Transform="SetAttributes" xdt:Locator="Match(value)" value="smtp.gmail.com"/>
        <add key="smtpUsername" xdt:Transform="SetAttributes" xdt:Locator="Match(value)" value="indulgememail@gmail.com"/>
        <add key="smtpPassword" xdt:Transform="SetAttributes" xdt:Locator="Match(value)" value="indulgence1"/>
    </appSettings>

  <system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>