@model BlessTheWeb.MVC5.Models.IndulgencesViewModel

@{
    ViewBag.Title = Model.Indulgence.Confession + " - A Plenary Indulgence";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts {
    <script type="text/javascript" src="/Scripts/indulgence.js"></script>
}
<div id="indulgence-view">
    @if (ViewData["ShowBlessing"] != null && (bool)ViewData["ShowBlessing"] == true)
    {
        <div id="blessing">
            <h2 class="congratulations">Congratulations! Consider yourself blessed.</h2>
            <div id="god_blessing"></div>
        </div>
    }
    @Html.RouteLink("Download a PDF version", "ViewIndulgencePdf", new {guid=Model.Indulgence.Guid})
    <div class="aa">
        <div class="indulgence">
            <img id="indulgence-image" src="/indulgence/image/@Model.Indulgence.Guid/1" alt="@Html.Raw(Model.ImageAlt)" />
        </div>
        @{ Html.RenderPartial("ShareThis", new BlessTheWeb.MVC5.Models.ShareViewModel { Tweet = Model.Indulgence.Confession }); }


        <div style="clear:both" />
        <p><a href="/indulgences/list">View more indulgences</a></p>
        <p><a href="/">God hates your sin. Confess again!</a></p>
    </div>
</div>