@model IEnumerable<BlessTheWeb.Core.Sin>

@{
    ViewBag.Title = "Sins";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sins</h2h2>

<p>
    What have people confessed to?
</p>
<div class="fluid-container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-xs-12 col-sm-6 col-md-4"><blockquote>"@Html.DisplayFor(modelItem => item.Content)"</blockquote><br/></div>
        }
    </div>
</div>

