<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://blesstheweb-dev.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>blesstheweb-dev.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>blesstheweb-dev</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$blesstheweb-dev</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:blesstheweb.database.windows.net,1433;Initial Catalog=blesstheweb-dev;Persist Security Info=False;User ID=blesstheweb;Password=_2+70n%__0^5-A;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:blesstheweb.database.windows.net,1433;Initial Catalog=blesstheweb-dev;Persist Security Info=False;User ID=blesstheweb;Password=_2+70n%__0^5-A;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="BlessTheWeb.MVC5.Models.ApplicationDbContext, BlessTheWeb.MVC5" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="blesstheweb-sql-dev" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Server=tcp:blesstheweb.database.windows.net,1433;Initial Catalog=blesstheweb-dev;Persist Security Info=False;User ID=blesstheweb;Password=_2+70n%__0^5-A;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\blesstheweb-sql-dev_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:blesstheweb.database.windows.net,1433;Initial Catalog=blesstheweb-dev;Persist Security Info=False;User ID=blesstheweb;Password=_2+70n%__0^5-A;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="azure-storage" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="DefaultEndpointsProtocol=https;AccountName=blesstheweb;AccountKey=+m4TgkLECSNKAY/TPTe5reaB4CiXpRKd2jK7P0qzu/wNYvdFx9jU7GavogX/doTlJLd5uEXoWXY+fhxJdHyu/w==" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\azure-storage_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="DefaultEndpointsProtocol=https;AccountName=blesstheweb;AccountKey=+m4TgkLECSNKAY/TPTe5reaB4CiXpRKd2jK7P0qzu/wNYvdFx9jU7GavogX/doTlJLd5uEXoWXY+fhxJdHyu/w==" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)azure-storage-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)blesstheweb-sql-dev-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Server=tcp:blesstheweb.database.windows.net,1433;Initial Catalog=blesstheweb-dev;Persist Security Info=False;User ID=blesstheweb;Password=_2+70n%__0^5-A;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="DefaultConnection" />
  </ItemGroup>
</Project>