@model BlessTheWeb.MVC5.Controllers.FakeSdiViewModel

@{
    ViewBag.Title = "FakeSdiView";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>This page is here for demo purposes instead of taking you to the actual JustGiving website to make a real donation</h2>

@using (Html.BeginForm("FakeSdi", "Sdi", FormMethod.Post))
{
    <input type="hidden" name="exitUrl" value="@Model.ExitUrl"/>
    <input type="hidden" name="reference" value="@Model.Reference"/>
    <input type="hidden" name="amount" value="@Model.Amount"/>
    <input type="hidden" name="Currency" value="USD"/>
    <input type="hidden" name="charityid" value="@Model.CharityId"/>
    <button type="submit">Click here to fake the donation</button>

    Html.EndForm();
}

