@model BlessTheWeb.MVC5.Controllers.FakeSdiViewModel

@{
    ViewBag.Title = "FakeSdiView";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>This page is here for demo purposes instead of taking you to the actual JustGiving website to make a real donation</h2>

@using (Html.BeginForm("FakeSdi", "Sdi", FormMethod.Post))
{
    <input type="hidden" name="exitUrl" value="@Model.ExitUrl"/>
    <input type="hidden" name="reference" value="@Model.Reference"/>
    <p>You are donating <input type="text" name="amount" value="@Model.Amount"/>
        <select name="currency">
            <option value="USD" @if (Model.Currency == "USD"){<text>selected</text>}>US Dollars</option>
            <option value="GBP" @if (Model.Currency == "GBP"){<text>selected</text>}>British pounds</option>
        </select>
    </p>
<p>to charity #@Model.CharityId
    <input type="hidden" name="charityid" value="@Model.CharityId"/>
</p>
    <button type="submit">Click here to fake the donation</button>

    Html.EndForm();
}

