@font-face {
    font-family: 'TrajanProRegular';
    src: url('/fonts/TrajanPro-Regular.otf') format("opentype"),
        url('/fonts/TrajanPro-Regular.eot') format('embedded-opentype'),
        url('/fonts/TrajanPro-Regular.ttf') format('truetype'),
        url('/fonts/TrajanPro-Regular.woff') format('woff'),
        url('/fonts/TrajanPro-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    height: 100%;
  margin: 0;
  padding: 0;
    background:#EFDDAF;
    background-image:url('/content/paper.jpg');
}

body, p, a, div, td, input, button
{
    font-family:Georgia, verdana;
    font-size:12pt;
    color:#7F0000;
}

a { color:#AF0000;}
a:hover {color:#AF3333;}

img#bg {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

.page {
  position:relative;
  z-index:1;
  width:1024px;
  margin:auto;
  text-align:center;
}

h1.masthead, h1.masthead a
{
    font-family: 'TrajanProRegular';
    font-size: 60pt;
    
}
h1.masthead a:hover {
    text-decoration: none;
}

.panel {
    background-color: transparent;
}

p.lead {
    margin-top: 20px;
}

p.tl
{
    font-size:10pt;
    font-style:italic;
}

#siteInfo
{
}

#nav
{
    margin:0;
    padding:0;
}

#nav li
{
    display:inline;
    text-indent:0;
    margin:2em;
    padding:0;
    min-width: 200px;
}

#nav li a {
    width: 200px;
    display: inline-block;
}

#confess
{
    
}

#confess p
{
font-size:48pt;
}

#confessbox
{
    
}

.watermarkOn {
        color: #CCCCCC;
        font-style: italic;
    }

#recently
{
}

#recently ul
{
    margin:0;
    padding:0;
}
#recently ul li, #browse-sins ul li
{
    text-align:left;
    list-style:none;
    padding:6px;
    background-color:#EFDDAF;
    margin:6px;
    float:left;
    width:100%;
}
#browse-sins ul li .right
{
    float:right;
    margin-left:1em;
}

#recently ul li img
{
text-align:right;
}
#recently ul li div
{
    float:left;
}
#recently ul li a
{
margin-right:15px;
}
#recently ul li
{
}
#confess input, #confess button
{
    margin: 0;
    font-size:28pt;
    background-color:#F0FFFF;
    border-radius:0.5em;
    -moz-border-radius:0.5em;
    vertical-align: middle;
}
#choose-style img {

}
#choose-style span {
    width: 100%;
    display: inline-block;
}
#confessbox
{
    width:60%;
}
#siteInfo em
{
    font-size:20pt;
    font-weight:bold;

}

#siteInfo p
{
    margin:0;
    bottom:0.3em;
}

div.indulgence
{
    float:left;
    width:33%;
}

div.indulgence a, div.indulgence img
{
    text-align:center;
}
div.indulgence a img
{
    border:0;
}

.clearfix { clear:both;}

#select-charity #confession
{
    color:#Af0000;
}
#select-charity #charities
{
    float:left;
    width:100%;
}

#select-charity .white, .aa
{
background-color:White;
padding:1em;
border-radius: 15px;
-moz-border-radius: 15px;
}

#select-charity .charity-card {
    height: 200px;
}

input {
-moz-border-radius-bottomleft:5px;
-moz-border-radius-bottomright:5px;
-moz-border-radius-topleft:5px;
-moz-border-radius-topright:5px;
background-color:#F0FFFF;
border:0 solid;
padding:0.3em;
}

#select-charity #email
{
    width:300px;
}
#v
{
    position:absolute; 
    bottom:0;
}