@{
    ViewBag.Title = "Home Page";
}

@section scripts {
    <script type="text/javascript" src="/scripts/home.js"></script>
}
@section tagline {
    <p class="lead"><em>@Model.SiteInfo.TotalAbsolvedSins</em> sins absolved!</p>
}
@if (ViewData["ShowBlessing"] != null && (bool)ViewData["ShowBlessing"] == true)
{
    <h2 class="congratulations">Congratulations! Consider yourself blessed.</h2>
    <EMBED src="/content/10277-m-001.mp3" autostart=true loop=false volume=100 hidden=true><NOEMBED><BGSOUND src="/content/10277-m-001.mp3"></NOEMBED>
}

<div id="confess">
    @using (Html.BeginForm("BeginConfession", "Home", FormMethod.Post))
    {
        <input type="text" name="confession" id="confessbox" class="watermarkOn" maxlength="150" value="Your confession..."/>
        <button type="submit" class="btn btn-lg" id="repentbutton">Confess!</button>
        Html.EndForm();
    }
</div>

<div id="indulgence-wall" class="hidden">
    <h2>Recently Blessed</h2>
    <div class="container-fluid">
        <div class="row" id="indulgences">
            
        </div>
    </div>
    <div class="clearfix"></div>
</div>

<div style="clear:both;"></div>
<div style="background-color:transparent;height:160px"></div>
