@{
    ViewBag.Title = "Home Page";
}

@section scripts {
    <script type="text/javascript" src="/scripts/home.js"></script>
}
@section tagline {
    <p class="lead"><em>@Model.SiteInfo.TotalAbsolvedSins</em> sins absolved!</p>
}
@if (ViewData["ShowBlessing"] != null && (bool)ViewData["ShowBlessing"] == true)
{
    <h2 class="congratulations">Congratulations! Consider yourself blessed.</h2>
    <EMBED src="/content/10277-m-001.mp3" autostart=true loop=false volume=100 hidden=true><NOEMBED><BGSOUND src="/content/10277-m-001.mp3"></NOEMBED>
}


    <p><a href="#" id="what-on-earth">What in heaven is this?<span id="chevron" class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></a></p>
    <div class="panel hidden" id="about">
    <p>In the middle-ages the Catholic church decided that people could have their pergatory reduced if they perform good works. This is called a <a href="https://en.wikipedia.org/wiki/Indulgence"><em>plenary</em> or <em>papal</em> indulgence</a>. What qualifies as a 'good work' you may ask? Well, among other things, donating money to a <span style="text-decoration: line-through">the church</span> a good cause of course!
        </p>
        <p>So in the middle-ages the plenary indulgence became a method of extracting money from the faithful in exchange for a reduced sentence in the afterlife. It was a fantastic scam. The sale of salvation became big business until in 1567 <a href="https://en.wikipedia.org/wiki/Indulgence#Late_medieval_abuses">abuse of the practise</a> was so widespread Pope Pius V was compelled to stop the granting of indulgences for money altogether. So the practise stopped... until now!</p>
        <p>We at @ViewBag.SiteName have brought the practise kicking and screaming into the 21st century. You confess to a sin and we'll suggest some charities to make small donation to. Pick one and donate. Then you will receive a genuine* plenary indulgence in PDF format which you can print out and hang on your wall! Pretty neat huh??</p>
        <p>So what are you waiting for? Confess! Donate! Participate in a joke at the expense of the Catholic church! Share this with your friends! Like you have anything better to do!</p>
        <p><small>*genuine doesn't mean it's magical or supernatural in any way</small>
        </p>
        <p>TL;DR: donate to charity for favours in the afterlife.</p>
    </div>

<div id="confess">
    @using (Html.BeginForm("BeginConfession", "Home", FormMethod.Post))
    {
        <input type="text" name="confession" id="confessbox" class="watermarkOn" maxlength="150" value="Your confession..."/>
        <button type="submit" class="btn btn-lg" id="repentbutton">Confess!</button>
        Html.EndForm();
    }
</div>

<div id="indulgence-wall" class="hidden">
    <h2>Recently Blessed</h2>
    <div class="container-fluid">
        <div class="row" id="indulgences">
            
        </div>
    </div>
    <div class="clearfix"></div>
</div>

<div style="clear:both;"></div>
<div style="background-color:transparent;height:160px"></div>
